@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* global css */
:root {
    --inter-ff: "Inter", sans-serif;
    --font-size: 14px;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--inter-ff);
    font-size: var(--font-size);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 2rem auto;
}

.card {
    background-color: var(--grey-900);
    color: var(--white);
    padding: 2rem 0;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    margin-bottom: 2rem;
    max-width: 6rem;
    max-height: 6rem;
}

h1 {
    font-weight: var(--font-weight-700);
    margin-bottom: 0.5rem;
}

.london {
    color: var(--green);
    font-weight: var(--font-weight-600);
    margin-bottom: 2rem;
}

.frontend {
    margin-bottom: 1.8rem;
}

button {
    width: 80%;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--grey-800);
    color: var(--white);
    transition: 0.3s ease-in-out;
}

button:hover {
    color: var(--grey-900);
    background-color: var(--green);
    cursor: url('../assets/images/pngwing.com.png'), auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile styles */
@media (max-width: 576px) {
    .container {
        width: 80%;
        height: auto;
        margin: 2rem auto;
    }
}